$primary-dark-blue: #10141e;
$greyish-blue: #5a698f;
$primary-red: #fc4747;
$primary-white: #ffffff;

$semi-dark-blue: #161d2f;

// FONTS
$fs-heading-l: 32px;
$fs-heading-s: 24px;
$fs-heading-xs: 18px;

$fs-body-m: 15px;
$fs-body-s: 13px;

// FONTS WEIGHT
$fw-medium: 500;
$fw-light: 300;
