.search-input {
  position: relative;
  margin-top: 32px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  &__icon {
    position: absolute;
    bottom: 0;
    left: 10px;
    transform: translate(-50%, -50%);
  }
  &__field {
    border: none;
    background-color: $primary-dark-blue;
    color: $primary-white;
    outline: none;
    padding-bottom: 12px;
    font-size: 24px;
    width: 100%;
    margin-left: 56px;
    font-weight: 300;
    line-height: 30px;
    caret-color: $primary-red;
    &:focus {
      border-bottom: 1px solid $greyish-blue;
      transition: border 0.3s linear;
    }
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}
