*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $family;
  background-color: $primary-dark-blue;
  font-size: $fs-body-m;
  font-weight: $fw-medium;
  color: $primary-white;
  height: 100vh;
  line-height: 23px;
}
