.v-application,
body {
  font-family: $family;
  background-color: $primary-dark-blue;
  font-size: $fs-body-m;
  font-weight: $fw-medium;
}

// Reset link styles
a {
  color: inherit;
  text-decoration: none;
}

// Override the textfield's radius
.v-text-field {
  .v-field__outline__start {
    border-radius: 10px 0 0 10px !important;
  }
  .v-field__outline__end {
    border-radius: 0 10px 10px 0 !important;
  }
}

.v-btn {
  font-weight: $fw-light !important;
}
.label {
  font-weight: $fw-light;
  font-size: $fs-body-m;
  margin-bottom: 6px;
  display: inline-block;
  cursor: pointer;
}
